@charset "UFT-08";

body {
  background-color: rgb(1, 8, 37);
}

/* container pai */
.container {
  background-color: rgb(5, 46, 85);
  color: rgb(226, 207, 226);
  display: flex;
  height: 300px;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5px;
}

/* container filho */
.item {
  background-color: rgb(1, 22, 58);
  border: 4px solid rgb(134, 13, 138);
  text-align: center;
  /*flex: auto; /* flex auto preenche o espaço vazio da caixa pai*/
}

.content {
  color: white;
}

.footer {
  color: aliceblue;
}
