@charset "UFT-08";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(75, 114, 221);
}

.container {
  display: flex;
  background-color: rgba(139, 199, 194, 0.719);
}
.item {
  min-width: 100px;

  flex: auto;

  border-radius: 10px;
  padding: 50px;
  margin: 30px;
  color: chartreuse;
  text-align: center;

  background-color: rgb(40, 84, 124);
}
