@charset "UFT-08";
body {
  background-color: bisque;
}
.container {
  background-color: lightcoral;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-evenly;
  height: 500px;
  gap: 15px;
  
}

.item {
  background-color: rgb(121, 107, 107);
  color: aqua;
  border: 1px solid black;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
  
}

.item:hover {
  transform: rotateX(50deg);
  background-color: black;
}



.container-main {
  background-color: aqua;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-evenly;
  height: 500px;
  gap: 15px;
}
/* 
@media screen and (min-width: 512px) and (max-with: 1172px) {
  .container {
    display: block;
    width: 512px;
    height: 1272px;
    background-color: black;
  }
} */