@charset "UTF-8";
body{
    background-color: rgba(137, 179, 24, 0.226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17pt;
}
h1{
    background-color: rgb(180, 65, 36);
    text-decoration: underline;
}
h2{
    font-size: 1em;
    color: rgb(126, 182, 247);
    background-color: rgb(3, 34, 63);
    
}
p{
    text-align: justify;
    font-style: italic;
}