@charset "UFT-08";

body {
    margin: 0;
    padding: 0;
  background-color: rgb(75, 114, 221);
}

.container {
  display: flex;




  background-color: rgba(100, 71, 170, 0.719);
}
.item {
  flex: auto;
  border: 3px solid blanchedalmond;
  border-radius: 40px;
  padding: 30px;
  margin: 30px;

  background-color: rgb(40, 84, 124);
}
