* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(96, 96, 116);
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: beige;
  height: 80vh;
  width: 80vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

section {
  background-color: brown;
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 1240px) and (min-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
  }

  body:hover {
    display: block;
    max-width: 396px;
  }
}
